---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<style>
		.fast {
			background-image: linear-gradient(45deg, #000000, #000000 30%, #ffffff 60%);
			background-size: 200% auto;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: textclip 0.1s linear infinite;
		}
		@keyframes textclip {
			to {
				background-position: 200% center;
			}
		}
	</style>
	<section>
		<h1 class="title mb-6">Yo!</h1>
		<p class="mb-4">
			I'm making the internet more beautiful and blazingly <span class="fast">fast</span>
		</p>
		<SocialList />
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Links</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://pay.thuanowa.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Payment
				</a>
				<p class="inline-block italic text-gray-500 sm:mt-2">*Help me pay my water bill</p>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/resume"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Resume
				</a>
				<p class="inline-block italic text-gray-500 sm:mt-2">
					*I'm currently finding June 2023 Front-end Intern in HCM City or remote
				</p>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/photos"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Photos
				</a>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/music"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Music i like
				</a>
			</li>
			<li>
				<a
					href="https://m.me/thuanowa"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Chat with me
				</a>
			</li>
			<li>
				<a
					href="https://l.thuanowa.com/calendar"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>My schedule
				</a>
			</li>
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<PostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
